<!DOCTYPE html>
<html lang="en">
<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <style>
        .navbar{
            color: white;
            background: black;
            height: 40px;
            text-align: center;
            text-decoration: none;
            list-style-type: none;
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 20px;

        }
        .h1{
            color:green;
            text-align: center;
        }
    </style>
    <title>Home Page</title>
    <nav class="navbar">
        <li><spam>Navbar</spam></li>
    </nav>

</head>
<body>
    <h1 class="h1">Login And Registration Learning</h1>

</body>
</html>